.icon {
    color: #009c84;
  }

.title{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 29px !important;
    letter-spacing: 2.8px;
    word-spacing: 0px;
    color: #000000 !important;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    padding-bottom:20px;
}
  .user-details{
    text-align: 1eft;
  }
.image{
    width:80%;
    height: 80%;
}
.sectionTwo{
  padding: 15px 50px;
  margin-right: 12%;
}